*{
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    /*'PT Sans', sans-serif;*/
}

html{
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border:0px;
}

body{
    margin: 0px;
    padding: 0px;
    border:0px;
    width:100%;
}

.wrapper{
    height:100%;
    margin: 0 auto;
}
.wrapper-float{
    height:100%;
    margin-left:15%;
    width:90%;
    overflow: hidden;
}

.clearfix{
    clear: both;
    content:'';
}
.nofloat{
    margin-bottom: 3vh;
}


p{
    margin: 0px;
}
a,a:visited{
    text-decoration: none;
    color: black;
}
p > a{
    text-decoration: dashed;
    color: burlywood;
}

.imageHolder{
    margin:0px;
    text-align: center;
    width:100%;
    position: relative;
    height: 100vh;
    display:block;
    background-size:cover;
    background: url("../Pictures/house-01-75.png");
    background-position: center center;

}
.imageHolder::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
}

.imageHolder::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contentFirstDiv{
    padding: 0 20%;
    position: relative;
    top:15%;
    font-size: 3.5vh;
}

.contentFirstDiv > h1{
    margin-top: 0px;
    margin-bottom: 40%;
    font-weight: bolder;
    color:black;
}
.contentFirstDiv > a{
    font-weight: bold;
    font-size: 3vh;
}

.toolstitle{
    font-weight: bold;
    margin-top: 2vh;
}

.myexp{
    font-size: 5vh;
    margin-bottom: 5vh;
}


.contentSecondDiv > h2{
    margin-bottom: 0.6rem;
}

.contentSecondDiv{
    margin: 0 auto;
}

.simpleParagraphs{
    font-weight: 550;
    font-size: 2vh;
    margin-bottom: 5vh;
}

@media only screen and (min-width: 992px) {

    .col-lg-3{
        width: 30%;
        float: left;
        margin: auto;
        margin-right: 7%;
       }

    .largeImage{
        max-width: 100%;
        max-width: 100%;
    }
} 

@media only screen and (min-width: 768px) {

    .col-md-3{
        width: 25%;
        float: left;
        margin: auto;
        margin-right: 3%;
    }

    .personalProjects2{
        max-width: 75%;
        max-width: 75%;
    }

    .smallImage{
        max-width: 50%;
        max-height: 50%;
    }
} 

#sectioncenter{
    text-align: center;
}

#sectionLeft{
    text-align: left;
}

.mainTitleCenter{
    text-align: center;
    font-size: 3rem;
}

.myrecentworkcontent{
    margin-top: 2rem;
    background-color:#989898;
}

.white{
    color: white;
}

.titleBorder{
    border-left: 6px solid red;
    background-color: lightgrey;
}

h2.titleBorder:hover {
    border-left: 6px solid greenyellow;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.pictureCardDetailsContainer{
     width: 99%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left:10%;
}


.inlinediv {
    border-radius: 10px;
    overflow: auto;
    padding: 15px;
    min-height: 50%;
    max-height: 51%;
    margin-left: 5%;
}

.description{
    padding: 5%;
    width: 70%;
    margin: auto;
}

.sectionForOL{
    margin-left: 15%;
    margin-bottom: 5%;
    float: left;
}

.video {
    width: 480px;
    height: 320px;
    width: 60%;
    margin: auto;
}