﻿@{
    ViewData["Title"] = "Card Details Page";
}

@model MindGeek.Business.Models.CardDetails

<section id="myExpertiseSection" class="myExpertise">
    <div class="contentSecondDiv">
        <h2 class="mainTitleCenter">@Model.Title</h2>
    </div>
</section>

<section class="description">
    <p>@Model.Body</p>
</section>

<div class="pictureCardDetailsContainer col-lg-3 col-md-3 clearfix">
    @foreach (var image in Model.CardImages)
    {
        <div class="col-lg-3 col-md-3 nofloat">
            <img class="largeImage" style="border-radius: 70%;" src="data:image;base64,@System.Convert.ToBase64String(image)"/>
        </div>
    }
    @foreach (var image in Model.KeyArtImages)
    {
        <div class="col-lg-3 col-md-3 nofloat">
            <img class="largeImage" style="border-radius: 70%" src="data:image;base64,@System.Convert.ToBase64String(image)"/>
        </div>
    }
</div>

    <div class="inlinediv">
        <section class="sectionForOL">
            <h2>Cast members</h2>
            <ol>
                @foreach (var cast in Model.Cast)
                {
                    <li>@cast</li>
                }
            </ol>
        </section>

        <section class="sectionForOL">
            <h2>Directors</h2>
            <ol>
                @foreach (var director in Model.Directors)
                {
                    <li>@director</li>
                }
            </ol>
        </section>

        <section class="sectionForOL">
            <h2>Genres</h2>
            <ol>
                @foreach (var genre in Model.Genres)
                {
                    <li>@genre</li>
                }
            </ol>
        </section>
    </div>


    <div class="video">
        <video controls>
            <source src="@Model.Videos.FirstOrDefault().Url" type="video/mp4">
        </video>
        <p>Duration: @TimeSpan.FromSeconds(@Model.Duration)</p>
        <p>Class: @Model.Class</p>
    </div>