﻿@{
    ViewData["Title"] = "Home Page";
}

@model List<MindGeek.Business.Models.Card>

<section id="myExpertiseSection" class="myExpertise">
    <div class="contentSecondDiv">
        <h2 class="mainTitleCenter">MindGeek Test</h2>
    </div>
</section>

<section id="sectioncenter" class="clearfix">
    <div class="myrecentworkcontent">

        <p class="myexp white">Antitalent frontend</p>
        <p class="white simpleParagraphs">Let's look at some downloaded cached images</p>

        <div class="wrapper-float">
            @foreach (var card in Model)
            {
                <div class="col-lg-3 col-md-3 nofloat">
                    <img class="largeImage" src="data:image;base64,@System.Convert.ToBase64String(card.Pictures.FirstOrDefault())"/>
                    <h2 class="titleBorder">@Html.ActionLink(card.Title, "CardDetails", "Home", new {id = @card.Id})</h2>
                </div>
            }
        </div>
    </div>
</section>

